body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: white;
    padding: 25px 30px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* 三行 label */
.center-bold {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    font-size: 15px;
}

/* 移除 number input 上下箭頭 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

/* 按鈕 */
button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;

    background-color: #0b2a6f;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
}

button:hover {
    opacity: 0.92;
}

.result {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}
-bu
